# Copy file ini menjadi `.env` lalu isi dengan kredensial Firebase kamu.
# Nilai di bawah ini hanya contoh — JANGAN commit file `.env` asli ke git.

VITE_FIREBASE_API_KEY=AIzaSyBSbby4tDPnVlSz8SgwCsJn5nI3d9IpO5o
VITE_FIREBASE_AUTH_DOMAIN=webportofolio-cfc01.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=webportofolio-cfc01
VITE_FIREBASE_STORAGE_BUCKET=webportofolio-cfc01.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=714853391679
VITE_FIREBASE_APP_ID=1:714853391679:web:bd33b84f8e70b9e795878a
